.form-radio-custom {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #a9afd9;
  background-color: white;
  cursor: pointer;
  outline: none;
  position: relative;
}

.form-radio-custom:checked::before {
  content: "\2713";
  color: white;
  font-size: 16px;
  border: 2px solid #4caf50;
  background-color: #4caf50;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
